<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.kernix.emptyplugin"
    version="1.0.0">
  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>
  <name>EmptyPlugin</name>
  <description>Phonegap empty plugin</description>
  <author>Pierre-Emmanuel Bois</author>
  <email>pebois@kernix.com</email>
  <license>Apache 2.0 License</license>
  <js-module src="www/emptyplugin.js" name="EmptyPlugin">
    <clobbers target="EmptyPlugin" />
  </js-module>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="EmptyPlugin">
        <param name="ios-package" value="EmptyPlugin"/>
      </feature>
    </config-file>
    <header-file src="src/ios/EmptyPlugin.h" />
    <source-file src="src/ios/EmptyPlugin.m" />
  </platform>
</plugin>
